<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="auther" content="">

    <title>Easy Project Management</title>

    <link rel = "stylesheet"
          type = "text/css"
          href = "public/css/EPM_styles.css">

</head>
