<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="auther" content="">

    <title>Easy Project Management</title>

    <link href = "../../public/css/index.css" rel = "stylesheet" type = "text/css">

</head>
