<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/user/userProfile">Brugerinfo</a>
    <a href="">Tilknyttede projekter</a>
    <a href="/user/applyProjectPage">Søg om projekt</a>
</div>
