<div class="topnav">
    <a class="active" href="views/index.ejs">Home</a>
    <a href="views/userProfile.ejs">Brugerinfo</a>
    <a href="EPM_assignedProjects.html">Tilknyttede projekter</a>
    <a href="EPM_applyForProject.html">Søg om projekt</a>
</div>