<div class="topnav">
    <a class="nav-link" href="views/index.ejs">Home</a>
    <a class="nav-link" href="">Dine projekter</a>
    <a class="nav-link" href="">Projekter</a>
    <a class="nav-link" href="">Søg Medarbejder</a>
    <a class="nav-link" href="">Brugerinfo</a>
    <a class="nav-link" href="">Bruger oprettelse</a>
</div>