<div class="topnav">
    <a class="active" href="views/index.ejs">Home</a>
    <a href="views/userProfile.ejs">Brugerinfo</a>
    <a href="">Tilknyttede projekter</a>
    <a href="views/applyProject.ejs">Søg om projekt</a>
</div>