<div class="topnav">
    <a class="active" href="/">Home</a>
    <% if (userLoggedIn) { %> <!-- SAR: If loggedIn has a value (user is logged-in), we display the following -->
    <a href="/user/userProfile">Profilside</a>
    <a href="/user/projectPage">Projekter</a>
    <a href="/user/applyProjectPage">Søg om projekt</a>
    <a href="/leader/leaderProfile">Projekt leder</a>
    <a href="/auth/logout">Log Out</a>
    <a href="/admin">Delete User</a>
    <% } %>
    <% if (!userLoggedIn) { %> <!-- SAR: // SAR: If loggedIn is null (user is logged-out), we display the following -->
    <a href="/auth/register">Register</a>
    <a href="/auth/login">Login</a>
    <% } %>
</div>
