<div class="topnav">
    <a class="nav-link" href="../index.ejs">Home</a>
    <a class="nav-link" href="../userProfile.ejs">Brugerinfo</a>
    <a class="nav-link" href="">Tilknyttede projekter</a>
    <a class="nav-link" href="../applyProject.ejs">Søg om projekt</a>
</div>