<div class="topnav">
    <a class="active" href="EPM_frontpage.html">Home</a>
    <a href="EPM_yourProjects.html">Dine projekter</a>
    <a href="EPM_projects.html">Projekter</a>
    <a href="EPM_searchEmployee.html">Søg Medarbejder</a>
    <a href="EPM_userInfoMan.html">Brugerinfo</a>
    <a href="EPM_userSignUp.html">Bruger oprettelse</a>
</div>