<div class="topnav">
    <a class="active" href="../index.ejs">Home</a>
    <a href="../userProfile.ejs">Brugerinfo</a>
    <a href="">Tilknyttede projekter</a>
    <a href="../applyProject.ejs">Søg om projekt</a>
</div>