<div class="topnav">
    <a class="active" href="views/index.ejs">Home</a>
    <a href="">Dine projekter</a>
    <a href="">Projekter</a>
    <a href="">Søg Medarbejder</a>
    <a href="">Brugerinfo</a>
    <a href="">Bruger oprettelse</a>
</div>