<div class="topnav">
    <a class="active" href="EPM_frontpage.html">Home</a>
    <a href="EPM_assignedProjects.html">Tilknyttede projekter</a>
    <a href="EPM_applyForProject.html">Søg om projekt</a>
    <a href="EPM_userInfoEmployee.html">Brugerinfo</a>
</div>