<!-- <!DOCTYPE html>
<html lang="en"> -->
 <head>

<%- include('layouts/header'); -%>

 </head>
<body>

<%- include('layouts/navbarHome'); -%>
<div class="img-home">

</body>

<%- include('layouts/scripts'); -%>

<!-- </html> -->