<!-- <!DOCTYPE html>
<html lang="en"> -->
 <head>

<%- include('layouts/header'); -%>

 </head>
<body>

<%- include('layouts/navbarHome'); -%>
<div class="img-home">

  <p class="dateOnFront" id="dateOnFront"></p>


</div>
</body>

<%- include('layouts/scripts'); -%>

<!-- </html> -->