<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

<%- include('layouts/navbarHome'); -%>
<div class="bg-img5">

</body>
<script src="../public/js/index.js"></script>
<script src="../controllers/home.js"></script>

<script src="index.js"></script>

</html>