<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>
<%- include('layouts/navbarEmployee'); -%>
<!-- Page Header -->

<div class="img-apply">

  <form action="/user/projectPage" method="POST">
    <div id="contactForm" class="container">
    <h1>Opret projekt</h1>

    <label for="projectId"><b>Projekt Id</b></label>
    <input type="text" placeholder="Navn" name="projectId" id="projectId" class="inputField" required>

    <label for="projectName"><b>Projekt Navn</b></label>
    <input type="text" name="projectName" id="projectName" class="inputField" placeholder="Telefon">

    <label for="projectDate"><b>Email</b></label>
    <input type="text" name="projectDate" id="projectDate" class="inputField" placeholder="Email">

    <label for="projectManager"><b>Projektnavn</b></label>
    <input type="text" name="projectManager" id="projectManager" class="inputField" placeholder="projektnavn">

    <label for="projectDescription"><b>Kommentar</b></label>
    <input type="text" id="projectDescription" name="projectDescription" class="inputField">

    <button>Opret projekt</button>
  </form>

</div>

</body>

<%- include('layouts/scripts'); -%>

</html>