<!DOCTYPE html>
<html lang="en">
<!-- SAR: This pages purpose is to create a new user by requesting and taking input information
          and posting it to our database-->

<%- include('layouts/header'); -%>

<body>
<%- include('layouts/navbarHome'); -%>
<div class="img-register">

<!-- SAR: Here we create the login/register form. It has input fields for the required information that we need from a new user.
     Each field is set as required. The password field also has certain parameters which the user must abide by.-->
<div class="register-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Username</label>
                            <input type="text" class="form-control" placeholder="Username"
                                   id="username" name="username" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password"
                                   id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- SAR: Here we create the popup message that shows the user what requirements are left for their chosen password.
    Each class is given an id and set as invalid. This "invalid" tag is changed in registration.js if the user
    meets the requirements -->
<div id="message">
    <h3>Password must contain the following:</h3>
    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="number" class="invalid">A <b>number</b></p>
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>

</body>

<%- include('layouts/scripts'); -%>

</html>